absl-py==2.0.0
aiohttp==3.9.1
aiohttp-retry==2.8.3
aiosignal==1.3.1
alembic==1.13.0
amqp==5.2.0
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==4.1.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
asyncssh==2.14.1
atpublic==4.0
attrs==23.1.0
Babel==2.13.1
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
billiard==4.2.0
bleach==6.1.0
blinker==1.7.0
cachetools==5.3.2
celery==5.3.6
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cloudpickle==2.2.1
-e git+https://github.com/pks20iitk/Image-Classification-AI-Model-MLOPs-Mlflow-DVC@1b9702f54e41dc9f67830c38023b0ff088dd3770#egg=cnnClassifier
colorama==0.4.6
comm==0.2.0
configobj==5.0.8
contourpy==1.1.1
cryptography==41.0.7
cycler==0.12.1
databricks-cli==0.18.0
dataclasses-json==0.6.3
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
dictdiffer==0.9.0
diskcache==5.6.3
distro==1.8.0
docker==6.1.3
dpath==2.1.6
dulwich==0.21.7
dvc==3.33.3
dvc-data==2.22.6
dvc-http==2.31.0
dvc-objects==1.4.9
dvc-render==1.0.0
dvc-studio-client==0.17.1
dvc-task==0.3.0
ensure==1.0.2
entrypoints==0.4
exceptiongroup==1.2.0
executing==2.0.1
fastapi==0.95.1
fastjsonschema==2.19.0
filelock==3.13.1
Flask==2.3.3
Flask-Cors==4.0.0
flatbuffers==23.5.26
flatten-dict==0.4.2
flufl.lock==7.1.1
fonttools==4.46.0
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2023.12.1
funcy==2.0
gast==0.4.0
gdown==4.7.1
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.25.1
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grandalf==0.8
greenlet==3.0.1
grpcio==1.59.3
gto==1.5.0
gunicorn==20.1.0
h11==0.14.0
h5py==3.10.0
hydra-core==1.3.2
idna==3.6
importlib-metadata==6.11.0
importlib-resources==6.1.1
ipykernel==6.27.1
ipython==8.12.3
isoduration==20.11.0
iterative-telemetry==0.0.8
itsdangerous==2.1.2
jax==0.4.13
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
json5==0.9.14
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
jupyter-events==0.9.0
jupyter-lsp==2.2.1
jupyter_client==8.6.0
jupyter_core==5.5.0
jupyter_server==2.12.1
jupyter_server_terminals==0.4.4
jupyterlab==4.0.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
keras==2.12.0
kiwisolver==1.4.5
kombu==5.3.4
langchain==0.0.350
langchain-community==0.0.3
langchain-core==0.1.1
langsmith==0.0.71
libclang==16.0.6
llvmlite==0.41.1
logger==1.4
Mako==1.3.0
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.7.4
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.2.0
mlflow==2.2.2
multidict==6.0.4
mypy-extensions==1.0.0
nbclient==0.9.0
nbconvert==7.12.0
nbformat==5.9.2
neo4j==5.8.0
nest-asyncio==1.5.8
networkx==3.1
notebook==7.0.6
notebook_shim==0.2.3
numba==0.58.1
numpy==1.23.5
oauthlib==3.2.2
omegaconf==2.3.0
openai==0.27.6
opt-einsum==3.3.0
orjson==3.9.10
overrides==7.4.0
packaging==23.2
pandas==2.0.3
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.11.2
pickleshare==0.7.5
Pillow==10.1.0
pkgutil_resolve_name==1.3.10
platformdirs==3.11.0
prometheus-client==0.19.0
prompt-toolkit==3.0.41
protobuf==4.25.1
psutil==5.9.6
psycopg2==2.9.9
pure-eval==0.2.2
py==1.11.0
pyarrow==11.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==1.10.13
pydantic_core==2.14.5
pydot==1.4.2
pygit2==1.13.3
Pygments==2.17.2
pygtrie==2.5.0
PyJWT==2.8.0
pyparsing==3.1.1
pypdf==3.17.2
PySocks==1.7.1
python-box==6.0.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.7
pytz==2022.7.1
pywin32==306
pywinpty==2.0.12
PyYAML==6.0.1
pyzmq==25.1.2
querystring-parser==1.2.4
referencing==0.31.1
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
retry==0.9.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rpds-py==0.13.2
rsa==4.9
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
scikit-learn==1.3.2
scipy==1.10.1
scmrepo==1.5.0
seaborn==0.13.0
semver==3.0.2
Send2Trash==1.8.2
shap==0.43.0
shortuuid==1.0.11
shtab==1.6.5
six==1.16.0
slicer==0.0.7
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==2.0.23
sqlparse==0.4.4
sqltrie==0.9.0
stack-data==0.6.3
starlette==0.26.1
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.12.3
tensorboard-data-server==0.7.2
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
terminado==0.18.0
threadpoolctl==3.2.0
tiktoken==0.4.0
tinycss2==1.2.1
tomli==2.0.1
tomlkit==0.12.3
tornado==6.4
tqdm==4.66.1
traitlets==5.14.0
typer==0.9.0
types-python-dateutil==2.8.19.14
types-PyYAML==6.0.12.12
typing-inspect==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
uri-template==1.3.0
urllib3==2.1.0
uvicorn==0.22.0
vine==5.1.0
voluptuous==0.14.1
waitress==2.1.2
wcwidth==0.2.12
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==11.0.3
Werkzeug==3.0.1
wikipedia==1.4.0
wrapt==1.14.1
yarl==1.9.4
zc.lockfile==3.0.post1
zipp==3.17.0
